################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CredDefense/obj/
/CredDefense/bin/Debug
/ipch
/temp
*.opendb
*.VC.db
*.pdb
*.vshost.*
*.iobj
*.exp
*.ipdb
*.lib
/EPF/temp/
/Builds/obj
/Src/Builds/obj
/Src/CredDefense/obj/x64/Release
