################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CredDefense/obj/
/CredDefense/bin/Debug
/ipch
/temp
*.opendb
*.VC.db
*.pdb
*.vshost.*
*.iobj
*.exp
*.ipdb
*.lib
/EPF/temp/
/Builds/obj
/Src/Builds/obj
/Src/CredDefense/obj/x64/Release
/Src/CredDefense/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
/Src/CredDefense/obj/x86/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Src/CredDefense/obj/x86/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Src/CredDefense/obj/x86/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Src/CredDefense/obj/x86/Release/ResponderGuardPage.g.i.cs
/Src/CredDefense/obj/x86/Release/ResponderGuardPage.g.cs
/Src/CredDefense/obj/x86/Release/ResponderGuardPage.baml
/Src/CredDefense/obj/x86/Release/PasswordFilterUpdatePage.g.i.cs
/Src/CredDefense/obj/x86/Release/PasswordFilterUpdatePage.g.cs
/Src/CredDefense/obj/x86/Release/PasswordFilterUpdatePage.baml
/Src/CredDefense/obj/x86/Release/PasswordFilterMenuPage.g.i.cs
/Src/CredDefense/obj/x86/Release/PasswordFilterMenuPage.g.cs
/Src/CredDefense/obj/x86/Release/PasswordFilterMenuPage.baml
/Src/CredDefense/obj/x86/Release/PasswordFilterInstallPage.g.i.cs
/Src/CredDefense/obj/x86/Release/PasswordFilterInstallPage.g.cs
/Src/CredDefense/obj/x86/Release/PasswordFilterInstallPage.baml
/Src/CredDefense/obj/x86/Release/PasswordAuditRunPage.g.i.cs
/Src/CredDefense/obj/x86/Release/PasswordAuditRunPage.g.cs
/Src/CredDefense/obj/x86/Release/PasswordAuditRunPage.baml
/Src/CredDefense/obj/x86/Release/PasswordAuditPage.g.i.cs
/Src/CredDefense/obj/x86/Release/PasswordAuditPage.g.cs
/Src/CredDefense/obj/x86/Release/PasswordAuditPage.baml
/Src/CredDefense/obj/x86/Release/PasswordAuditDCSelPage.g.i.cs
/Src/CredDefense/obj/x86/Release/PasswordAuditDCSelPage.g.cs
/Src/CredDefense/obj/x86/Release/PasswordAuditDCSelPage.baml
/Src/CredDefense/obj/x86/Release/MainWindow.g.i.cs
/Src/CredDefense/obj/x86/Release/MainWindow.g.cs
/Src/CredDefense/obj/x86/Release/MainWindow.baml
/Src/CredDefense/obj/x86/Release/MainPage.g.i.cs
/Src/CredDefense/obj/x86/Release/MainPage.g.cs
/Src/CredDefense/obj/x86/Release/MainPage.baml
/Src/CredDefense/obj/x86/Release/HoneyTokensPage.g.i.cs
/Src/CredDefense/obj/x86/Release/HoneyTokensPage.g.cs
/Src/CredDefense/obj/x86/Release/HoneyTokensPage.baml
/Src/CredDefense/obj/x86/Release/EventMonitoringPage.g.i.cs
/Src/CredDefense/obj/x86/Release/EventMonitoringPage.g.cs
/Src/CredDefense/obj/x86/Release/EventMonitoringPage.baml
/Src/CredDefense/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Src/CredDefense/obj/x86/Release/CredDefense_MarkupCompile.lref
/Src/CredDefense/obj/x86/Release/CredDefense_MarkupCompile.i.lref
/Src/CredDefense/obj/x86/Release/CredDefense_MarkupCompile.i.cache
/Src/CredDefense/obj/x86/Release/CredDefense_MarkupCompile.cache
/Src/CredDefense/obj/x86/Release/CredDefense.Properties.Resources.resources
/Src/CredDefense/obj/x86/Release/CredDefense.g.resources
/Src/CredDefense/obj/x86/Release/CredDefense.exe
/Src/CredDefense/obj/x86/Release/CredDefense.csprojResolveAssemblyReference.cache
/Src/CredDefense/obj/x86/Release/CredDefense.csproj.GenerateResource.Cache
/Src/CredDefense/obj/x86/Release/CredDefense.csproj.FileListAbsolute.txt
/Src/CredDefense/obj/x86/Release/App.g.i.cs
/Src/CredDefense/obj/x86/Release/App.g.cs
/Src/CredDefense/obj/x86/Release
