<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CredDefense.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <userSettings>
    <CredDefense.Properties.Settings>
      <setting name="EasyPasswordFilterDllLocationx86" serializeAs="String">
        <value>x86\EasyPasswordFilter.dll</value>
      </setting>
      <setting name="EasyPasswordFilterDllLocationx64" serializeAs="String">
        <value>x64\EasyPasswordFilter.dll</value>
      </setting>
      <setting name="EpfFilesPath" serializeAs="String">
        <value>epf</value>
      </setting>
    </CredDefense.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.280" newVersion="1.0.0.280" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
