<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="11.0.0" targetFramework="net451" />
  <package id="NDceRpc" version="0.2.1.0" targetFramework="net451" />
  <package id="protobuf-net" version="1.0.0.280" targetFramework="net451" />
  <package id="TaskScheduler" version="2.6.1" targetFramework="net451" />
</packages>